.vs/
**/bin/
**/obj/
*.user
*.suo
*.log
publish/
dist/
.tools/
Installer/Prerequisites/
.tmp/
*.zip
Native/bin/
Native/obj/
ThirdParty/FxSound/lib/
ThirdParty/FxSound/dsp/DfxDsp/
ThirdParty/FxSound/audiopassthru/audiopassthru/
.vendor-cache/
